body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://free4kwallpapers.com/uploads/originals/2015/07/16/low-poly-ice.jpg');
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    box-sizing: border-box;
    background-color: burlywood;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.navigation li {
    font-weight: 150;
    color: teal;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
}

.navigation li {
    margin: 0  auto;
    width: 150px;
}

#banner {
    background-image: url('https://cdn.sortiraparis.com/images/80/1462/505096-la-patinoire-pailleron-pour-patiner-toute-l-annee.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    box-sizing: border-box;
    margin: 0 auto;
}

#banner .sitename h1 {
    text-align: center;
    color: darkgoldenrod;
    width: 300px;
    box-sizing: border-box;
    border: 5px solid royalblue;
    margin: 0 auto;
    position: relative;
    top: 75px;
    font-size: 40px;
    border-radius: 50px;
    letter-spacing: 3px;
}

#banner a {
    color: darkgoldenrod;
    text-decoration: none;
}

#banner h1 :hover {
    color: goldenrod;
}

.list {
    width: 350px;
    margin: 0px auto;
    text-align: center;
}

.list li {
    padding-top: 20px;
    text-align: left;
}

.navigation a:hover {
    color: cyan;
}

.navigation a {
    color: darkcyan;
    text-decoration: none;
}

.catchphrase {
    font-family: Helvetica;
    color: indianred;
}

.footer-basic {
    padding:40px 0;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size: 20px;
    line-height:1.6;
    margin-bottom:0;
    margin-top: 10px;
  }

  .footer-basic li {
    padding:0 50px;
    overflow: auto;
    display: inline-block;
    text-align: center;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
  }

  .footer-basic a:hover {
    color: chartreuse;
  }

  .footer-basic a {
    color: green;
  }

  .wikipedia {
    width: 40%;
    text-align: center;
    padding-left: 30%;
    padding-bottom: 45px;
  }

  #schedule h3 {
    text-decoration: underline;
    padding: 50px 0;
  }

  #schedule li {
    text-align: left;
    width: 350px;
    margin: 0px auto;
    list-style: none;
    padding-top: 10px;
  }